<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Lattitude:</b>
  <%= @post.lattitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @post.longitude %>
</p>

<p>
  <b>Category:</b>
  <%= @post.category %>
</p>

<p>
  <b>Hashtag:</b>
  <%= @post.hashtag %>
</p>

<p>
  <b>State Code:</b>
  <%= @post.statecode %>
</p>

<p>
  <b>State:</b>
  <%= @post.state %>
</p>



<p>
  <b>Image:</b>
  <%= image_tag(@post.tpicurl) %>
</p>

<%= link_to 'Back', posts_path %>
