<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Lattitude:</b>
  <%= @post.lattitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @post.longitude %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@post.image, size: "320x240") %>
</p>

<%= link_to 'Back', posts_path %>
